{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="jumbotron">
    
<h1>Contact Your Elected Officials!</h1>
        <p>Enter as much of your address as you wish</p>
       
        <form method = 'POST' action="/index">
        <div class="form-row">
            <div class="col-2">
            </div>
         <div class="form-group col-8">
            <input type="text" class="form-control" name="address" placeholder="Enter your address"/>
            </div>
             <div class="col-2">
            </div>
             <div class="col-2">
            </div>
            <div class="col-8">
            <input class="btn btn-outline-info btn-block" type="submit" value="Submit"/>
             <div class="col-2">
            </div>
            </div>
        </div> 
        </form>
</div>
</div>
{% endblock content %}
